{% schema %}
{
  "name": "Activate Account",
  "class": "main-activate-account-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Activate your account"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Subtext",
      "default": "Create your password to activate your account"
    }
  ]
}
{% endschema %}

<div class="customer activate">
  <h1>{{ section.settings.heading }}</h1>
  <p>{{ section.settings.subtext }}</p>
  
  {% form 'activate_customer_password' %}
    {{ form.errors | default_errors }}
    
    <div>
      <label for="password">Password</label>
      <input type="password" name="customer[password]" id="password">
    </div>
    
    <div>
      <label for="password_confirmation">Password Confirmation</label>
      <input type="password" name="customer[password_confirmation]" id="password_confirmation">
    </div>
    
    <div class="form-actions">
      <button type="submit" class="activate-button">Activate Account</button>
      <button type="submit" name="decline" class="decline-button">Decline Invitation</button>
    </div>
  {% endform %}
</div>
