{% schema %}
{
  "name": "Reset Password",
  "class": "main-reset-password-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Reset your password"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Subtext",
      "default": "Enter a new password for your account"
    }
  ]
}
{% endschema %}

<div class="customer reset-password mx-auto w-full">
  <div class="main-register py-7">
    <h1 class="mb-6 text-center">{{ section.settings.heading }}</h1>

    <div class="main-form m-auto w-1/2">
      {% form 'reset_customer_password' %} {{ form.errors | default_errors }}
      <div class="mb-4">
        <input type="password" name="customer[password]" id="password" class="w-full rounded border px-5 py-2 shadow" placeholder="Enter Password" />
      </div>
      <div class="mb-4">
        <input type="password" name="customer[password_confirmation]" id="password_confirmation" class="w-full rounded border px-5 py-2 shadow" placeholder="Enter Confirm Password" />
      </div>

      <div class="mb-4">
        <button type="submit" class="inline-block rounded bg-black px-4 py-2 text-white">Reset Password</button>
      </div>
      {% endform %}
    </div>
  </div>
</div>
