body {
  background-color: var(--color-bg);
  background-image: var(--color-bg-gradient);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
}

.btn-primary {
  color: var(--btn-primary-color);
  background: var(--btn-primary-bg-color);
}

.btn-primary:hover {
  color: var(--btn-primary-hover-color);
  background: var(--btn-primary-hover-bg-color);
}

.btn-outline {
  color: var(--btn-outline-color);
  border: 1px solid var(--btn-outline-border-color);
}

.btn-outline:hover{
  color: var(--btn-link-color);
}

.btn-link {
  color: var(--btn-link-color);
}

.btn-link:hover {
  color: var(--btn-link-hover-color);
}
